body {
    width:600px;
    margin: 15px auto;
}
header {
    background-color: #dde6cd;
    display:flex;
}
.headerText {       
    margin: 50px 15px 0px 15px;
    font-family: 'Oswald', sans-serif;
}
.headerImg {    
    margin-left: auto;
}  
main {
    font-family: 'Oswald', sans-serif;
}
section {
    margin-left: 15px;
}
.code {
    display:inline-block;
    width: 250px;
    background-color: #F5EAEA;
    border: 1px solid #9c8282;
    
    padding-left: 0px;
    box-shadow: rgba(0,0,0,0.4) -3px 3px 3px inset;

}
.mainImg {
    display: inline-block;
    margin: 5px 0px 0px 25px;    
    text-align: center;
}
footer {
    background-color: #dde6cd;
    width: 600px;  
    display: flex;
    
}
.logo {
    margin: 15px 0px 15px 15px;

}
.year {
    margin: 20px 15px 15px auto;
}
