html {
    scroll-behavior: smooth; 
}
body {
    max-width:600px;
    margin: 15px auto;
}
header {
    font-family: 'Oswald', sans-serif;
    background-color: #dde6cd;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
header > div {
    display: flex;    
    justify-content: space-between;    
    flex-wrap: wrap;
    width: 100%;}

header > div > h1 {    
    text-overflow: clip;    
    margin: auto 15px;    
}
header > div > figure {
    margin: 15px;      
}
header > nav {
    width: 100%;
}
header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;        
    padding: 0 15px;
    border-top: 1px solid gray;
    margin-bottom: 5px;
}
header > nav > ul > li {
    list-style-type: none;   
    display: block;    
}
header > nav > ul > li > a {
    text-decoration: none;
    color: black;
}

main {
    font-family: 'Oswald', sans-serif;
}
section {
    margin-left: 15px;
}

footer {
    background-color: #dde6cd;
    display: flex;    
}
.logo {
    margin: 15px 0px 15px 15px;

}
.year {
    margin: 20px 15px 15px auto;
}
